################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lesson5/Lesson5/obj
/Lesson5/.vs/Lesson5
/Lesson4/Lesson4/obj
/Lesson4/Lesson4/bin/Debug/net8.0
/Lesson4/.vs/Lesson4
/Lesson5/.vs/ProjectEvaluation
