################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lesson5/Lesson5/obj
/Lesson5/.vs/Lesson5
