################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lesson5/Lesson5/obj
/Lesson5/.vs/Lesson5
/Lesson4/Lesson4/obj
/Lesson4/Lesson4/bin/Debug/net8.0
/Lesson4/.vs/Lesson4
/Lesson5/.vs/ProjectEvaluation
/Lesson4/.vs/ProjectEvaluation
/Lesson5/Library/bin/Debug/net8.0
/Lesson5/Library/obj
/Lesson5/Lesson5/bin/Debug/net8.0
/Lesson5/Homework/obj
/Lesson5/Homework/bin/Debug/net8.0
/Lesson6/Lesson6/obj
/Lesson6/.vs
/Lesson6/Lesson6/bin/Debug/net8.0
